
@{
    ViewBag.Title = "Personal";
}

<h2>Personal Details</h2>
<hr />
<div style="text-align:right">
    <h4>Welcom @Session["uname"]</h4>
</div>
<form method="post" action="/student/personal">
    <label> Enter full name</label><br />
    <input type="text" name="sname" /><br />
    <label> Enter Address</label><br />
    <textarea name="address"></textarea><br />
    <label>Enter Contact</label><br />
    <input type="text" name="contact" /><br />

    <button type="submit" class="btn btn-success mt-3">Save</button>
</form>
<br /><br />
<span style="color:red">@ViewBag.msg</span>
